body {
  margin-left: 30px;
  background-image: url("background.jpg");
  background-size: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.5);
}

#projects ol {
	list-style: none;
}